<nav class="navbar navbar-dark bg-dark">
      <div>
          <a class="navbar-brand" href="#">
            <img src="../../../assets/home.png" width="40" height="40" alt="">
          </a>
      </div>
      <div class="navbar-expand ml-auto navbar-nav">
          <div class="nav-item">
              <a class="navbar-brand" href="#">
                <img src="../../../assets/friends.png" width="40" height="40" alt="">
              </a>
            </div>
            <div class="nav-item">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/config.png" width="40" height="40" alt="">
                </a> 
            </div>
      </div>   
</nav>