<div class="container">
    <div>
      <h1>Contacts</h1>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
          [(ngModel)]="model.name" name="name">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" id="age"
          [(ngModel)]="model.age" name="age">
          <div *ngIf="empty">First please write your contact info!</div>
          <div [hidden]="!valid">Value of age not valid</div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div  *ngIf="!valid">
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2><br>
      <mat-grid-list cols="7" rowHeight="10:2">
        <mat-grid-tile><b>Name</b></mat-grid-tile>
        <mat-grid-tile><b>Age</b></mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list *ngFor="let user of users" cols="7" rowHeight="10:2">
        <mat-grid-tile>{{ user.name }}</mat-grid-tile>
        <mat-grid-tile>{{ user.age }}</mat-grid-tile>
      </mat-grid-list>
    </div>
    </div>
</div>